.map {
    width: 100%;
    height: 400px;
  }

  li {
    position: fixed;
    bottom: 10px;  /* Jarak dari bawah */
    left: 10px;    /* Jarak dari kiri */
    z-index: 1000; /* Agar elemen berada di atas elemen lain */
    margin-top: auto;
  }