.button-container { /* Container untuk tombol */
    display: flex;
    justify-content: space-between; /* Atur tombol rata kanan-kiri */
    margin-top: 10px; /* Jarak dari peta */
  }
  
  .list-container { /* Container untuk list */
    margin-top: 10px; /* Jarak dari tombol */
  }
  .map {
    width: 100%;
    height: 400px;
  }
  
  /* li {
    display: none;
  }  */

  ul {
    margin-top: 500px;
  }
li {
    display: list-item;
    left: 10px;    
    z-index: 1000; 
    margin-top: auto;
  }

